{%load static%}

<nav class = "bg-white shadow-lg">
    <div class=" max-w-6xl max-auto px-4">
        <div class="flex justify-between">
              <div class="flex space-x-7">
                    <div class="flex">
                        <a href="#" class="flex items-center px-2 py-4">
                        <img class = "h-8 w-8" src = "{% static 'product/images/property.png'%}" alt = "logo"/>
                        <span class="font-semibold text-xl">RE_home</span>
                        </a>
                    </div>
                  <div class="items-center flex space-x-1">
                      <a href="" class="py-4 px-2 text-gray-500  font-semibold border-b-4 border-green-500">Недвижимость в наличии </a>
                      <a href="" class="py-4 px-2 text-gray-500 font-semibold">Чат с администратором </a>
                      <a href="" class="py-4 px-2 text-gray-500 font-semibold">Мой кабинет </a>
                  </div>
              </div>
        </div>

    </div>
</nav>